# This file is used to consolidate commit authors
# Format: Proper Name <proper@email.xx> Commit Name <commit@email.xx>
# This helps to unify different email addresses or names used by the same person
Alok114 <alokver19@gmail.com> *